.rotate-animation {
  animation-name: rotation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes rotation {
  to {
    transform: rotate(0);
  }
  from {
    transform: rotate(360deg);
  }
}
